################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.pc
*.dll
*.lib
*.idb
*.pdb
*.obj
*.tlog
*.log
*.db
*.opendb
*.exe
*.ipch
/Debug/FFmplay.ilk
/FFmplay/x64/Debug/FFmplay.vcxproj.FileListAbsolute.txt
/thirdparty/ffmpeg/include/libavcodec/ac3_parser.h
/thirdparty/ffmpeg/include/libavcodec/adts_parser.h
/thirdparty/SDL2-2.0.12/WhatsNew.txt
/thirdparty/SDL2-2.0.12/README.txt
/thirdparty/SDL2-2.0.12/README-SDL.txt
/thirdparty/SDL2-2.0.12/include/SDL_vulkan.h
/thirdparty/SDL2-2.0.12/include/SDL_video.h
/thirdparty/SDL2-2.0.12/include/SDL_version.h
/thirdparty/SDL2-2.0.12/include/SDL_types.h
/thirdparty/SDL2-2.0.12/include/SDL_touch.h
/thirdparty/SDL2-2.0.12/include/SDL_timer.h
/thirdparty/SDL2-2.0.12/include/SDL_thread.h
/thirdparty/SDL2-2.0.12/include/SDL_test_random.h
/thirdparty/SDL2-2.0.12/include/SDL_test_memory.h
/thirdparty/SDL2-2.0.12/include/SDL_test_md5.h
/thirdparty/SDL2-2.0.12/include/SDL_test_log.h
/thirdparty/SDL2-2.0.12/include/SDL_test_images.h
/thirdparty/SDL2-2.0.12/include/SDL_test_harness.h
/thirdparty/SDL2-2.0.12/include/SDL_test_fuzzer.h
/thirdparty/SDL2-2.0.12/include/SDL_test_font.h
/thirdparty/SDL2-2.0.12/include/SDL_test_crc32.h
/thirdparty/SDL2-2.0.12/include/SDL_test_compare.h
/thirdparty/SDL2-2.0.12/include/SDL_test_common.h
/thirdparty/SDL2-2.0.12/include/SDL_test_assert.h
/thirdparty/SDL2-2.0.12/include/SDL_test.h
/thirdparty/SDL2-2.0.12/include/SDL_syswm.h
/thirdparty/SDL2-2.0.12/include/SDL_system.h
/thirdparty/SDL2-2.0.12/include/SDL_surface.h
/thirdparty/SDL2-2.0.12/include/SDL_stdinc.h
/thirdparty/SDL2-2.0.12/include/SDL_shape.h
/thirdparty/SDL2-2.0.12/include/SDL_sensor.h
/thirdparty/SDL2-2.0.12/include/SDL_scancode.h
/thirdparty/SDL2-2.0.12/include/SDL_rwops.h
/thirdparty/SDL2-2.0.12/include/SDL_revision.h
/thirdparty/SDL2-2.0.12/include/SDL_render.h
/thirdparty/SDL2-2.0.12/include/SDL_rect.h
/thirdparty/SDL2-2.0.12/include/SDL_quit.h
/thirdparty/SDL2-2.0.12/include/SDL_power.h
/thirdparty/SDL2-2.0.12/include/SDL_platform.h
/thirdparty/SDL2-2.0.12/include/SDL_pixels.h
/thirdparty/SDL2-2.0.12/include/SDL_opengl_glext.h
/thirdparty/SDL2-2.0.12/include/SDL_opengles2_khrplatform.h
/thirdparty/SDL2-2.0.12/include/SDL_opengles2_gl2platform.h
/thirdparty/SDL2-2.0.12/include/SDL_opengles2_gl2ext.h
/thirdparty/SDL2-2.0.12/include/SDL_opengles2_gl2.h
/thirdparty/SDL2-2.0.12/include/SDL_opengles2.h
/thirdparty/SDL2-2.0.12/include/SDL_opengles.h
/thirdparty/SDL2-2.0.12/include/SDL_opengl.h
/thirdparty/SDL2-2.0.12/include/SDL_name.h
/thirdparty/SDL2-2.0.12/include/SDL_mutex.h
/thirdparty/SDL2-2.0.12/include/SDL_mouse.h
/thirdparty/SDL2-2.0.12/include/SDL_metal.h
/thirdparty/SDL2-2.0.12/include/SDL_messagebox.h
/thirdparty/SDL2-2.0.12/include/SDL_main.h
/thirdparty/SDL2-2.0.12/include/SDL_log.h
/thirdparty/SDL2-2.0.12/include/SDL_loadso.h
/thirdparty/SDL2-2.0.12/include/SDL_keycode.h
/thirdparty/SDL2-2.0.12/include/SDL_keyboard.h
/thirdparty/SDL2-2.0.12/include/SDL_joystick.h
/thirdparty/SDL2-2.0.12/include/SDL_hints.h
/thirdparty/SDL2-2.0.12/include/SDL_haptic.h
/thirdparty/SDL2-2.0.12/include/SDL_gesture.h
/thirdparty/SDL2-2.0.12/include/SDL_gamecontroller.h
/thirdparty/SDL2-2.0.12/include/SDL_filesystem.h
/thirdparty/SDL2-2.0.12/include/SDL_events.h
/thirdparty/SDL2-2.0.12/include/SDL_error.h
/thirdparty/SDL2-2.0.12/include/SDL_endian.h
/thirdparty/SDL2-2.0.12/include/SDL_egl.h
/thirdparty/SDL2-2.0.12/include/SDL_cpuinfo.h
/thirdparty/SDL2-2.0.12/include/SDL_copying.h
/thirdparty/SDL2-2.0.12/include/SDL_config_wiz.h
/thirdparty/SDL2-2.0.12/include/SDL_config_winrt.h
/thirdparty/SDL2-2.0.12/include/SDL_config_windows.h
/thirdparty/SDL2-2.0.12/include/SDL_config_psp.h
/thirdparty/SDL2-2.0.12/include/SDL_config_pandora.h
/thirdparty/SDL2-2.0.12/include/SDL_config_minimal.h
/thirdparty/SDL2-2.0.12/include/SDL_config_macosx.h.orig
/thirdparty/SDL2-2.0.12/include/SDL_config_macosx.h
/thirdparty/SDL2-2.0.12/include/SDL_config_iphoneos.h
/thirdparty/SDL2-2.0.12/include/SDL_config_android.h
/thirdparty/SDL2-2.0.12/include/SDL_config.h.in
/thirdparty/SDL2-2.0.12/include/SDL_config.h.cmake
/thirdparty/SDL2-2.0.12/include/SDL_config.h
/thirdparty/SDL2-2.0.12/include/SDL_clipboard.h
/thirdparty/SDL2-2.0.12/include/SDL_blendmode.h
/thirdparty/SDL2-2.0.12/include/SDL_bits.h
/thirdparty/SDL2-2.0.12/include/SDL_audio.h
/thirdparty/SDL2-2.0.12/include/SDL_atomic.h
/thirdparty/SDL2-2.0.12/include/SDL_assert.h
/thirdparty/SDL2-2.0.12/include/SDL.h
/thirdparty/SDL2-2.0.12/include/close_code.h
/thirdparty/SDL2-2.0.12/include/begin_code.h
/thirdparty/SDL2-2.0.12/docs/README.md
/thirdparty/SDL2-2.0.12/docs/README-winrt.md
/thirdparty/SDL2-2.0.12/docs/README-windows.md
/thirdparty/SDL2-2.0.12/docs/README-wince.md
/thirdparty/SDL2-2.0.12/docs/README-touch.md
/thirdparty/SDL2-2.0.12/docs/README-raspberrypi.md
/thirdparty/SDL2-2.0.12/docs/README-psp.md
/thirdparty/SDL2-2.0.12/docs/README-porting.md
/thirdparty/SDL2-2.0.12/docs/README-platforms.md
/thirdparty/SDL2-2.0.12/docs/README-pandora.md
/thirdparty/SDL2-2.0.12/docs/README-nacl.md
/thirdparty/SDL2-2.0.12/docs/README-macosx.md
/thirdparty/SDL2-2.0.12/docs/README-linux.md
/thirdparty/SDL2-2.0.12/docs/README-ios.md
/thirdparty/SDL2-2.0.12/docs/README-hg.md
/thirdparty/SDL2-2.0.12/docs/README-gesture.md
/thirdparty/SDL2-2.0.12/docs/README-emscripten.md
/thirdparty/SDL2-2.0.12/docs/README-dynapi.md
/thirdparty/SDL2-2.0.12/docs/README-directfb.md
/thirdparty/SDL2-2.0.12/docs/README-cmake.md
/thirdparty/SDL2-2.0.12/docs/README-android.md
/thirdparty/SDL2-2.0.12/docs/doxyfile
/thirdparty/SDL2-2.0.12/COPYING.txt
/thirdparty/SDL2-2.0.12/BUGS.txt
/thirdparty/ffmpeg/include/libswscale/version.h
/thirdparty/ffmpeg/include/libswscale/swscale.h
/thirdparty/ffmpeg/include/libswresample/version.h
/thirdparty/ffmpeg/include/libswresample/swresample.h
/thirdparty/ffmpeg/include/libpostproc/version.h
/thirdparty/ffmpeg/include/libpostproc/postprocess.h
/thirdparty/ffmpeg/include/libavutil/xtea.h
/thirdparty/ffmpeg/include/libavutil/version.h
/thirdparty/ffmpeg/include/libavutil/tx.h
/thirdparty/ffmpeg/include/libavutil/twofish.h
/thirdparty/ffmpeg/include/libavutil/tree.h
/thirdparty/ffmpeg/include/libavutil/timestamp.h
/thirdparty/ffmpeg/include/libavutil/timecode.h
/thirdparty/ffmpeg/include/libavutil/time.h
/thirdparty/ffmpeg/include/libavutil/threadmessage.h
/thirdparty/ffmpeg/include/libavutil/tea.h
/thirdparty/ffmpeg/include/libavutil/stereo3d.h
/thirdparty/ffmpeg/include/libavutil/spherical.h
/thirdparty/ffmpeg/include/libavutil/sha512.h
/thirdparty/ffmpeg/include/libavutil/sha.h
/thirdparty/ffmpeg/include/libavutil/samplefmt.h
/thirdparty/ffmpeg/include/libavutil/ripemd.h
/thirdparty/ffmpeg/include/libavutil/replaygain.h
/thirdparty/ffmpeg/include/libavutil/rc4.h
/thirdparty/ffmpeg/include/libavutil/rational.h
/thirdparty/ffmpeg/include/libavutil/random_seed.h
/thirdparty/ffmpeg/include/libavutil/pixfmt.h
/thirdparty/ffmpeg/include/libavutil/pixelutils.h
/thirdparty/ffmpeg/include/libavutil/pixdesc.h
/thirdparty/ffmpeg/include/libavutil/parseutils.h
/thirdparty/ffmpeg/include/libavutil/opt.h
/thirdparty/ffmpeg/include/libavutil/murmur3.h
/thirdparty/ffmpeg/include/libavutil/motion_vector.h
/thirdparty/ffmpeg/include/libavutil/mem.h
/thirdparty/ffmpeg/include/libavutil/md5.h
/thirdparty/ffmpeg/include/libavutil/mathematics.h
/thirdparty/ffmpeg/include/libavutil/mastering_display_metadata.h
/thirdparty/ffmpeg/include/libavutil/macros.h
/thirdparty/ffmpeg/include/libavutil/lzo.h
/thirdparty/ffmpeg/include/libavutil/log.h
/thirdparty/ffmpeg/include/libavutil/libm.h
/thirdparty/ffmpeg/include/libavutil/lfg.h
/thirdparty/ffmpeg/include/libavutil/intreadwrite.h
/thirdparty/ffmpeg/include/libavutil/intfloat.h
/thirdparty/ffmpeg/include/libavutil/imgutils.h
/thirdparty/ffmpeg/include/libavutil/hwcontext_videotoolbox.h
/thirdparty/ffmpeg/include/libavutil/hwcontext_vdpau.h
/thirdparty/ffmpeg/include/libavutil/hwcontext_vaapi.h
/thirdparty/ffmpeg/include/libavutil/hwcontext_qsv.h
/thirdparty/ffmpeg/include/libavutil/hwcontext_mediacodec.h
/thirdparty/ffmpeg/include/libavutil/hwcontext_dxva2.h
/thirdparty/ffmpeg/include/libavutil/hwcontext_drm.h
/thirdparty/ffmpeg/include/libavutil/hwcontext_d3d11va.h
/thirdparty/ffmpeg/include/libavutil/hwcontext_cuda.h
/thirdparty/ffmpeg/include/libavutil/hwcontext.h
/thirdparty/ffmpeg/include/libavutil/hmac.h
/thirdparty/ffmpeg/include/libavutil/hdr_dynamic_metadata.h
/thirdparty/ffmpeg/include/libavutil/hash.h
/thirdparty/ffmpeg/include/libavutil/frame.h
/thirdparty/ffmpeg/include/libavutil/file.h
/thirdparty/ffmpeg/include/libavutil/fifo.h
/thirdparty/ffmpeg/include/libavutil/ffversion.h
/thirdparty/ffmpeg/include/libavutil/eval.h
/thirdparty/ffmpeg/include/libavutil/error.h
/thirdparty/ffmpeg/include/libavutil/encryption_info.h
/thirdparty/ffmpeg/include/libavutil/downmix_info.h
/thirdparty/ffmpeg/include/libavutil/display.h
/thirdparty/ffmpeg/include/libavutil/dict.h
/thirdparty/ffmpeg/include/libavutil/des.h
/thirdparty/ffmpeg/include/libavutil/crc.h
/thirdparty/ffmpeg/include/libavutil/cpu.h
/thirdparty/ffmpeg/include/libavutil/common.h
/thirdparty/ffmpeg/include/libavutil/channel_layout.h
/thirdparty/ffmpeg/include/libavutil/cast5.h
/thirdparty/ffmpeg/include/libavutil/camellia.h
/thirdparty/ffmpeg/include/libavutil/buffer.h
/thirdparty/ffmpeg/include/libavutil/bswap.h
/thirdparty/ffmpeg/include/libavutil/bprint.h
/thirdparty/ffmpeg/include/libavutil/blowfish.h
/thirdparty/ffmpeg/include/libavutil/base64.h
/thirdparty/ffmpeg/include/libavutil/avutil.h
/thirdparty/ffmpeg/include/libavutil/avstring.h
/thirdparty/ffmpeg/include/libavutil/avconfig.h
/thirdparty/ffmpeg/include/libavutil/avassert.h
/thirdparty/ffmpeg/include/libavutil/audio_fifo.h
/thirdparty/ffmpeg/include/libavutil/attributes.h
/thirdparty/ffmpeg/include/libavutil/aes_ctr.h
/thirdparty/ffmpeg/include/libavutil/aes.h
/thirdparty/ffmpeg/include/libavutil/adler32.h
/thirdparty/ffmpeg/include/libavformat/version.h
/thirdparty/ffmpeg/include/libavformat/avio.h
/thirdparty/ffmpeg/include/libavformat/avformat.h
/thirdparty/ffmpeg/include/libavfilter/version.h
/thirdparty/ffmpeg/include/libavfilter/buffersrc.h
/thirdparty/ffmpeg/include/libavfilter/buffersink.h
/thirdparty/ffmpeg/include/libavfilter/avfilter.h
/thirdparty/ffmpeg/include/libavdevice/version.h
/thirdparty/ffmpeg/include/libavdevice/avdevice.h
/thirdparty/ffmpeg/include/libavcodec/xvmc.h
/thirdparty/ffmpeg/include/libavcodec/vorbis_parser.h
/thirdparty/ffmpeg/include/libavcodec/videotoolbox.h
/thirdparty/ffmpeg/include/libavcodec/version.h
/thirdparty/ffmpeg/include/libavcodec/vdpau.h
/thirdparty/ffmpeg/include/libavcodec/vaapi.h
/thirdparty/ffmpeg/include/libavcodec/qsv.h
/thirdparty/ffmpeg/include/libavcodec/mediacodec.h
/thirdparty/ffmpeg/include/libavcodec/jni.h
/thirdparty/ffmpeg/include/libavcodec/dxva2.h
/thirdparty/ffmpeg/include/libavcodec/dv_profile.h
/thirdparty/ffmpeg/include/libavcodec/dirac.h
/thirdparty/ffmpeg/include/libavcodec/d3d11va.h
/thirdparty/ffmpeg/include/libavcodec/avfft.h
/thirdparty/ffmpeg/include/libavcodec/avdct.h
/thirdparty/ffmpeg/include/libavcodec/avcodec.h
*.suo
/thirdparty/SDL2/docs/README-android.md
/thirdparty/SDL2/docs/README-cmake.md
/thirdparty/SDL2/docs/README.md
/thirdparty/SDL2/docs/README-winrt.md
/thirdparty/SDL2/docs/README-windows.md
/thirdparty/SDL2/docs/README-wince.md
/thirdparty/SDL2/docs/README-touch.md
/thirdparty/SDL2/docs/README-raspberrypi.md
/thirdparty/SDL2/docs/README-psp.md
/thirdparty/SDL2/docs/README-porting.md
/thirdparty/SDL2/docs/README-platforms.md
/thirdparty/SDL2/docs/README-pandora.md
/thirdparty/SDL2/docs/README-nacl.md
/thirdparty/SDL2/docs/README-macosx.md
/thirdparty/SDL2/docs/README-linux.md
/thirdparty/SDL2/docs/README-ios.md
/thirdparty/SDL2/docs/README-hg.md
/thirdparty/SDL2/docs/README-gesture.md
/thirdparty/SDL2/docs/README-emscripten.md
/thirdparty/SDL2/docs/README-dynapi.md
/thirdparty/SDL2/docs/README-directfb.md
/thirdparty/SDL2/WhatsNew.txt
/thirdparty/SDL2/README.txt
/thirdparty/SDL2/README-SDL.txt
/thirdparty/SDL2/COPYING.txt
/thirdparty/SDL2/BUGS.txt
*.o
*.o
*.o
*.o
/project/pc/XiaoStudio/XiaoStudio.pro.user.22
*.35ee260
*.10-pre1
